   # Redis 配置
   REDIS_HOST=localhost
   REDIS_PORT=6379

   # Postgres 配置
DATABASE_URL="postgresql://bookmarket:bookmarket123@localhost:5432/bookmarket?schema=public"

# jwt
JWT_ACCESS_SECRET=123
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_EXPIRES_IN=3600s